point_to_hash_rfc_9381 - Multiplication with cofactor


In [`src/utils/common.rs`](https://github.com/davxy/ark-ec-vrfs/blob/main/src/utils/common.rs#L132-L139), the ECVRF implementation does **not multiply the point `Gamma` by the cofactor** during verification, as required by [RFC 9381, Section 5.2](https://datatracker.ietf.org/doc/rfc9381/). Wanted to confirm whether this is intended

For curves with cofactor ≠ 1 (e.g., Bandersnatch, cofactor=4), it'd give a different VRF output and potentially expose to small subgroup attacks

Hey, given that

section 5

>       G:  subgroup of E of large prime order

according to section 5.4.1:

>       H:  hashed value, a point in G

and that (also 5.4.1)

>    4.  Gamma = x*H

This imply that Gamma is already in the large prime subgroup.

If a point is already in the prime subgroup, multiplying it by the cofactor doesn't change anything in a meaningful way. The resulting point will still be in the prime subgroup.

Btw, as the RFC says to mul by the cofactor, as this produces a different point, I guess we may need to  adapt (maybe with a bool flag to avoid the op where is not explicitly required)

Any idea why this is done in this way?

My guess is that it is a safety measure in case the "hash_to_curve" algorithm is not implemented properly. But it explicitly requires for $H$ to be a point in G

Can we utilize a condition to check whether the point is in large prime subgroup, where if  point*order==I (as multiplying the point which is in large prime subgroup with curve's prime order results in Identity point which is (0,1) in case of TE curve) return True we don't need to multiply with cofactor else we do?